language: python
python:
  - "3.6" # current default Python on Travis CI
  - "3.7"
  - "3.8"

branches:
  only:
    - main

# command to install dependencies
install:
  - pip install -r requirements.txt
  - pip install -r coverage coveralls flake8

# command to run tests
script:
  - python -m unittest discover tests

# generate coverage report
after_success:
  - coverage report
  - coveralls
