language: python
python:
  - "3.6" # current default Python on Travis CI
  - "3.7"
  - "3.8"

branches:
  only:
    - main

# command to install dependencies
install:
  - pip install -r requirements.txt
  - pip install -U coveralls flake8
#coverage coveralls flake8

#before_script:
#  - "flake8 codebase"

# command to run tests
script:
  - coverage run -m unittest discover

# generate coverage report
after_success:
  - coverage report
  - coveralls
