language: python
python:
  - "3.6" # current default Python on Travis CI
  - "3.7"
  - "3.8"

branches:
  only:
    - main

# command to install dependencies
install:
  - conda install -yes --file requirements.txt
  - conda install --yes coverage coveralls flake8

# command to run tests
script:
  - coverage run -m unittest discover

# generate coverage report
after_success:
  - coverage report
  - coveralls
